@use '../styles/variables' as vars;

.container {
  height: 600px;
  padding: 90px 30px 0 30px;
  background-color: vars.$synthBg;
  border-radius: 5px;
  box-shadow: 7px 7px 25px vars.$shadowColor;
}
