@use '../../../../styles/mixins';

.rangeList {
  @include mixins.listReset;
  width: 190px;
  background: linear-gradient(90deg, hsl(0, 0%, 3%) 0%, hsl(0, 0%, 13%) 70%);
  box-shadow: 0 5px 15px black;

  .rangeItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    border-top: 1px solid white;
    color: white;
    font-size: 20px;
    line-height: 17px;
    text-transform: uppercase;
    cursor: pointer;

    &:last-child {
      height: 58px;
    }

    &:hover {
      text-shadow: 0 0 2px white, 0 0 2px white;
    }
  }
}
