$textLight: #999;
$mainBtn: #a8b64f;
$mainBtnHover: #899441;
$synthBg: #8d3d3d;
$shadowColor: rgba(0, 0, 0, 0.3);

$black-10: hsla(0, 0%, 0%, 0.1);
$black-20: hsla(0, 0%, 0%, 0.2);
$black-30: hsla(0, 0%, 0%, 0.3);
$black-50: hsla(0, 0%, 0%, 0.5);
$black-60: hsla(0, 0%, 0%, 0.6);
$white-20: hsla(0, 0%, 100%, 0.2);
$white-50: hsla(0, 0%, 100%, 0.5);
$white-80: hsla(0, 0%, 100%, 0.8);
