@use '../../../styles/variables' as vars;

.controlContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

%knobConent {
  content: '';
  position: absolute;
  border-radius: 50%;
}

%knobSize {
  width: 70px;
  height: 70px;
}

.knobContainer {
  @extend %knobSize;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 15px;
  box-sizing: content-box;
  transform: rotate(17deg);

  &::before {
    @extend %knobConent;
    @extend %knobSize;
    background: linear-gradient(0deg, #46425c 0%, #1b1225 0%);
    border-radius: 50%;
    box-shadow: 0 -10px 20px #757575, 0px 10px 35px #111,
      inset 0px 5px 6px #4d4d4d, inset 0px -5px 6px #242424;
  }
}

.knob {
  @extend %knobSize;
  position: relative;
  transform: rotate(230deg);

  &::before {
    @extend %knobConent;
    top: 7px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    width: 4px;
    height: 20px;
    background-color: white;
    box-shadow: 0 0 10px white;
  }

  &::after {
    @extend %knobConent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105%;
    height: 105%;
    background: linear-gradient(90deg, hsl(0, 0%, 3%) 0%, hsl(0, 0%, 13%) 70%);
    border: 3px solid white;
    box-shadow: 0 0 10px white, inset 0 0 5px white;
  }
}

.controlName {
  color: vars.$white-80;
}

.result {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  color: vars.$white-80;
}
